// Link :: Config

@import "pack/seed-color-scheme/__index";

// Namespaces
$seed-link-namespace: "c-link" !default;

// Config
$seed-link-include-a-selector: true !default;

// Colors
$seed-link-color: _color(link, base) !default;
$seed-link-color-hover: _color(link, hover) !default;
$seed-link-color-active: _color(link, active) !default;

// Outline
$seed-link-focus-outline: 5px auto -webkit-focus-ring-color !default;
$seed-link-focus-outline-offset: -2px !default;

// Transition
$seed-link-transition: none !default;
