// Themes :: Background Color

// Dependencies
@import "../config";

.#{$seed-helpscout-theme-background-color-namespace} {
  @each $color, $map in $seed-helpscout-theme-colors {
    &-#{$color} {
      @if type-of($map) == "map" {
        @each $shade, $value in $map {
          &-#{$shade} {
            @if $seed-helpscout-theme-enable-important == true {
              background-color: $value !important;
            }
            @else {
              background-color: $value;
            }
          }
        }
      }
      @else {
        @if $seed-helpscout-theme-enable-important == true {
          background-color: $map !important;
        }
        @else {
          background-color: $map;
        }
      }
    }
  }
}
