// Test :: _set (Map)

@import "true";
@import "../../get";
@import "../../set";

@include test-module("_set: Map") {

  @include test("should add a new value to a map") {
    $map: (
      a: 1
    );

    $map: _set($map, b, 2);

    $test: _get($map, b);
    $expect: 2;

    @include assert-equal($test, $expect, "2");
  }

  @include test("should update an existing value of a map") {
    $map: (
      a: 1,
      b: 2
    );

    $map: _set($map, b, 3);

    $test: _get($map, b);
    $expect: 3;

    @include assert-equal($test, $expect, "3");
  }

  @include test("should add a deep value of a map") {
    $map: (
      a: 1,
      b: (
        c: 3
      )
    );

    $map: _set($map, b, c, 4);

    $test: _get($map, b, c);
    $expect: 4;

    @include assert-equal($test, $expect, "4");
  }

  @include test("should update an existing deep value of a map") {
    $map: (
      a: 1,
      b: (
        c: (
          d: 2,
          e: (
            f: 3
          )
        )
      )
    );

    $map: _set($map, b, c, e, f, 4);

    $test: _get($map, b, c, e, f);
    $expect: 4;

    @include assert-equal($test, $expect, "4");
  }
}

