// States :: Disabled

// Dependencies
@import "pack/seed-control/mixins/control-disabled-styles";
@import "pack/seed-dash/_index";
@import "../../../config";

& {
  @include control-disabled-styles {
    background-color: _get($seed-button-color-link, background, default);
    border-color: _get($seed-button-color-link, border, default);
    color: _get($seed-button-color-link, text);
  }
}
