// Overflow :: Config

// Namespaces
$seed-overflow-namespace: "u-overflow" !default;
$seed-overflow-x-namespace: "u-overflow-x" !default;
$seed-overflow-y-namespace: "u-overflow-y" !default;

// Overflow
$seed-overflow: (
  visible: visible,
  hidden: hidden,
  scroll: scroll,
  auto: auto
) !default;

$seed-overflow-x: (
  visible: visible,
  hidden: hidden,
  scroll: scroll,
  auto: auto
) !default;

$seed-overflow-y: (
  visible: visible,
  hidden: hidden,
  scroll: scroll,
  auto: auto
) !default;
