// Object :: Inline :: Base

// Dependencies
@import "pack/seed-publish/_index";
@import "pack/seed-spacing/functions/spacing";

@include export(seed-inline) {
  & {
    list-style: none;
    margin-bottom: -(spacing(1));
    margin-left: 0;

    &::after {
      content: " ";
      clear: both;
      display: table;
    }

    &:last-child {
      margin-bottom: -(spacing(1));
    }

    &__#{$seed-inline-item-namespace} {
      display: inline-block;
      margin: 0 0 spacing(1);
      padding: 0;
      vertical-align: middle;
    }
  }
}
