// Spacing :: Config

// Namespace
$seed-spacing-margin-namespace: "u-mrg" !default;
$seed-spacing-padding-namespace: "u-pad" !default;
$seed-spacing-m-unit: "em" !default;

// Sizes
$seed-spacing-sizes: (
  0: 0,
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
  6: 24px,
  7: 28px,
  8: 32px,
  9: 36px,
  10: 40px,
  1m: 1#{$seed-spacing-m-unit},
  2m: 2#{$seed-spacing-m-unit},
  3m: 3#{$seed-spacing-m-unit},
  4m: 4#{$seed-spacing-m-unit},
  5m: 5#{$seed-spacing-m-unit}
) !default;

// Directions
$seed-spacing-directions: (
  none:   0,
  all:    "a",
  top:    "t",
  right:  "r",
  bottom: "b",
  left:   "l",
  hor:    "h",
  vert:   "v"
) !default;
