// States :: Readonly

// Dependencies
@import "pack/seed-publish/_index";
@import "../../../config";

@include export(seed-input) {
  &[readonly],
  &.is-readonly {
    background-color: $seed-input-background-color-disabled;
    border-color: $seed-input-border-color;

    &:focus {
      border-color: $seed-input-border-color-focus;
    }
  }
}
