// States :: Active

// Configs
@import "../config";
@import "../../switch-toggle/config";

@if $seed-switch-active-component == "switch" {
  & {
    input:checked +,
    &.#{$seed-switch-active-namespace} {
      .#{$seed-switch-toggle-namespace} {
        background-color: $seed-switch-toggle-background-active;
        border-color: $seed-switch-toggle-background-active;
        color: $seed-switch-toggle-text-color-active;
        text-align: left;
      }

      .#{$seed-switch-handle-namespace} {
        left: inherit;
        right: $seed-switch-toggle-offset-inner;
      }
    }
  }
}
