// States :: Active

& {
  input:checked + .#{$seed-switch-toggle-namespace},
  &.is-active,
  &.active {
    background-color: $seed-switch-background-active;
    border-color: $seed-switch-background-active;
    color: $seed-switch-label-color-active;
    text-align: left;

    .#{$seed-switch-handle-namespace} {
      left: inherit;
      right: $seed-switch-offset-inner;
    }
  }
}
