// Thumbnail Image :: Base

// Dependencies
@import "pack/seed-publish/_index";

@include export(seed-thumbnail) {
  & {
    bottom: -100%;
    box-sizing: border-box;
    height: auto;
    left: -100%;
    margin: auto;
    max-width: none;
    position: absolute;
    right: -100%;
    top: -100%;
    width: 102%;
  }
}
