// input-addons :: Config

// Namespaces
$seed-input-addons-input-addon-namespace: c-input-addon !default;
$seed-input-addons-input-static-namespace: c-input-static !default;

// Configs
$seed-input-addons-input-addon-background-color: #F1F3F5 !default;
