// Type :: Size

.#{ $seed-typography-lead-namespace } {
  font-size: $seed-typography-lead-size;
}

.#{ $seed-typography-sm-namespace } {
  font-size: $seed-typography-sm-size;
}

.#{ $seed-typography-xs-namespace } {
  font-size: $seed-typography-xs-size;
}
