// Object :: Flexy

// Scope
.#{$seed-flexy-namespace} {
  // Dependencies
  @import "./pack/seed-breakpoints/_index";
  // Base
  @import "./base";
  // Modifiers
  @import "./modifiers/alignment";
  @import "./modifiers/reset";
}
