// Object :: Flexy :: Base

// Dependencies
@import "pack/seed-breakpoints/_index";

& {
  box-sizing: border-box;
  @include breakpoint-all {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
