// Object :: Flexy :: Base

& {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  // &__item {
  //   This class doesn't have any styles. However, it should be
  //   used to provide clarity in your markup.
  // }

  &__block {
    @include breakpoint-all {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1
    }
  }
}
