// Popover :: Config

// Namespaces
$seed-popover-namespace: "popover" !default;
$seed-popover-arrow-namespace: "popover > .arrow" !default;
$seed-popover-content-namespace: "popover-content" !default;

// Config: Popover
$seed-popover-background-color: white !default;
$seed-popover-box-shadow: none !default;
$seed-popover-border-color: rgba(black, 0.2) !default;
$seed-popover-border-radius: 4px !default;
$seed-popover-max-width: 280px !default;
$seed-popover-z-index: 1060 !default;
// Config: Arrow
$seed-popover-arrow-size: 10px !default;
// Config: Content
$seed-popover-content-padding: 12px !default;
