// Component :: Switch Handle :: Variables

$seed-switch-handle-transition: all 0.1s ease !default;
$seed-switch-handle-background-color: #fff !default;

// Temp
$seed-z-shadow-2: black;
$seed-z-shadow-3: black;
