// States :: States

// Dependencies
@import "../../../config";
@import "pack/seed-dash/_index";
@import "pack/seed-states/config";

@each $key, $values in $seed-states-colors {
  $__alert-state-class: ".#{$key}";

  @if $seed-alert-enable-state-prefix == true {
    $__alert-state-class: ".#{$seed-alert-state-prefix}-#{$key}";
  }

  &#{$__alert-state-class} {
    background-color: _get($values, background-color);
    box-shadow: inset $seed-alert-accent-width 0 0 0 _get($values, border-color);
    color: _get($values, color);

    // Normalize the color of text
    .#{$seed-alert-text-namespace} {
      color: _get($values, color);
    }
  }
}
