// Test :: _extend (Lists)

@import "true";
@import "../../extend";
@import "../../get";

@include test-module("_extend: Lists") {

  @include test("should extend simple lists") {
    $map1: (a, b);
    $map2: (c, d);

    $test_map: _extend($map1, $map2);
    $test: _get($test_map, c);
    $expect: c;

    @include assert-equal($test, $expect, "c");
  }
}
