// Test :: _extend (Maps)

@import "true";
@import "../../extend";
@import "../../get";

@include test-module("_extend: Maps") {

  @include test("should extend simple maps") {
    $map1: (
      a: 1,
      b: 2
    );
    $map2: (
      c: 3
    );

    $test_map: _extend($map1, $map2);
    $test: _get($test_map, c);
    $expect: 3;

    @include assert-equal($test, $expect, "3");
  }

  @include test("should extend multiple simple maps") {
    $map1: (
      a: 1,
      b: 2
    );
    $map2: (
      c: 3
    );
    $map3: (
      d: 4
    );
    $map4: (
      e: 5,
      f: 6
    );

    $test_map: _extend($map1, $map2, $map3, $map4);
    $test: _get($test_map, d);
    $expect: 4;

    @include assert-equal($test, $expect, "3");
  }

  @include test("should extend deep maps correctly") {
    $map1: (
      a: 1,
      c: 3
    );
    $map2: (
      b: 2,
      d: (
        e: 4
      )
    );

    $test_map: _extend($map1, $map2);
    $test: _get($test_map, d, e);
    $expect: 4;

    @include assert-equal($test, $expect, "4");
  }


  @include test("should extend multiple deep maps correctly") {
    $map1: (
      a: 1,
      c: 3
    );
    $map2: (
      b: 2,
      d: (
        e: 4
      )
    );
    $map3: (
      f: 5,
      g: (
        h: 6
      )
    );

    $test_map: _extend($map1, $map2, $map3);
    $test: _get($test_map, g, h);
    $expect: 6;

    @include assert-equal($test, $expect, "6");
  }

  @include test("should extend simple maps with the same key") {
    $map1: (
      a: 1,
      b: 2
    );
    $map2: (
      b: 3
    );

    $test_map: _extend($map1, $map2);
    $test: _get($test_map, b);
    $expect: 3;

    @include assert-equal($test, $expect, "3");
  }

  @include test("should extend deep maps with the same key") {
    $map1: (
      a: 1,
      b: (
        c: 2
      )
    );
    $map2: (
      b: (
        c: 3
      )
    );

    $test_map: _extend($map1, $map2);
    $test: _get($test_map, b, c);
    $expect: 3;

    @include assert-equal($test, $expect, "3");
  }
}
