// States :: Disabled

// Dependencies
@import "pack/seed-control/mixins/control-disabled-styles";
@import "pack/seed-dash/_index";
@import "../../../config";

&--#{$seed-button-primary-namespace} {
  @include control-disabled-styles {
    background-color: _get($seed-button-color-primary, background, default);
    border-color: _get($seed-button-color-primary, border, default);
    color: _get($seed-button-color-primary, text);
  }
}
