// Component :: Alert :: Base

// Dependencies
@import "../../config";
@import "pack/seed-dash/_index";

& {
  // Get the default color scheme
  $__default-scheme: _get($seed-alert-states, default);

  background-color: _get($__default-scheme, background-color);
  box-shadow: inset $seed-alert-accent-width 0 0 0 _get($__default-scheme, accent-color);
  box-sizing: border-box;
  color: _get($__default-scheme, color);
  margin-bottom: $seed-alert-margin-bottom;
  padding: $seed-alert-padding;
}
