// Objects :: Flexy Item

@import "pack/seed-publish/_index";
@import "../config";

@include export(seed-flexy) {
  .#{$seed-flexy-item-namespace} {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 0;
  }
}
