// Utility :: Clearfix
// Source: http://cssmojo.com/latest_new_clearfix_so_far/

// Dependencies
@import "pack/seed-publish/_index";

@include export(seed-floats) {
  .#{$seed-floats-clearfix-namespace} {
    &::after {
      content: " ";
      clear: both;
      display: table;
    }
  }
}
