// Button :: Config

// Dependencies
@import "pack/seed-border/config";
@import "pack/seed-control/config";

// Namespace
$seed-button-namespace: "c-button" !default;

// Animation
$seed-button-transition: background-color 0.1s ease !default;

// Background
$seed-button-background-color: #fff !default;

// Border
$seed-button-border-color: #ddd !default;
$seed-button-border-radius: $seed-border-radius !default;
$seed-button-border-size: $seed-border-size !default;
$seed-button-border-style: $seed-border-style !default;

// Font
$seed-button-color: #2b2b2b !default;
$seed-button-font-size: 1rem !default;
$seed-button-font-weight: normal !default;

// Height
$seed-button-height: $seed-control-size-default !default;
$seed-button-line-height: $seed-button-height - ceil($seed-button-border-size * 2) !default;

// Padding
$seed-button-padding: 0 1em !default;
