// Button :: Config

// Dependencies
@import "pack/seed-border/config";
@import "pack/seed-control/config";
@import "pack/seed-states/_index";

// Namespace
$seed-button-namespace: "c-button" !default;
$seed-button-primary-namespace: "primary" !default;
$seed-button-success-namespace: "is-#{$seed-states-success-namespace}" !default;

// Animation
$seed-button-transition: all 0.1s ease !default;

// Border
$seed-button-border-radius: $seed-border-radius !default;
$seed-button-border-size: $seed-border-size !default;
$seed-button-border-style: $seed-border-style !default;

// Colors
$seed-button-color: (
  background: (
    default: #fff,
    hover: #f9f9f9,
    active: #f4f4f4
  ),
  border: (
    default: #ddd,
    hover: #ddd,
    active: #ddd,
    focus: #3197D6
  ),
  box-shadow: (
    default: none,
    active: 0 1px 2px rgba(black, 0.2) inset,
    focus: none
  ),
  text: #2b2b2b
) !default;

$seed-button-color-primary: (
  background: (
    default: #3197D6,
    hover: darken(#3197D6, 4),
    active: darken(#3197D6, 8)
  ),
  border: (
    default: #237AB3,
    hover: #237AB3,
    active: #237AB3,
    focus: #237AB3
  ),
  box-shadow: (
    focus: 0 0 0 1px rgba(white, 0.3) inset
  ),
  text: #fff
) !default;

$seed-button-color-states: (
  #{$seed-button-success-namespace}: (
    background: (
      default: _state(success, border-color),
      hover: darken(_state(success, border-color), 4),
      active: darken(_state(success, border-color), 8)
    ),
    border: (
      default: _state(success, border-color),
      hover: _state(success, border-color),
      active: _state(success, border-color)
    ),
    box-shadow: (
      focus: 0 0 0 1px rgba(white, 0.3) inset
    ),
    text: #fff
  )
) !default;

// Font
$seed-button-font-size: 1rem !default;
$seed-button-font-weight: normal !default;

// Height
$seed-button-height: $seed-control-size-default !default;
$seed-button-line-height: $seed-button-height - ceil($seed-button-border-size * 2) !default;

// Padding
$seed-button-padding: 0 1em !default;
