// Input :: Config

// Dependencies
@import "pack/seed-border/config";

// Namespaces
$seed-input-namespace: "c-input" !default;

// Configs
$seed-input-background-color: #fff !default;
$seed-input-border-color: #d5d5d5 !default;
$seed-input-border-radius: $seed-border-radius !default;
$seed-input-border-size: $seed-border-size !default;
$seed-input-border-style: solid !default;
$seed-input-border-color-focus: #3197D6 !default;

$seed-input-background-color-disabled: #e6e6e6;

$seed-input-padding: 0 8px !default;
$seed-input-padding-textarea: 8px !default;
