// Table :: Base

// Dependencies
@import "pack/seed-dash/_index";
@import "pack/seed-publish/_index";
@import "../../config";

@include export(seed-table) {
  & {
    &,
    col,
    colgroup,
    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
      box-sizing: border-box;
    }

    & {
      border-collapse: collapse;
      max-width: 100%;
      width: 100%;
    }

    thead {
      th {
        border-top: none;
        border-bottom: $seed-table-th-border-width solid $seed-table-border-color;
        vertical-align: bottom;
      }
    }

    th {
      border-top: $seed-table-border-width solid $seed-table-border-color;
      padding: _get($seed-table-padding-sizes, md);
      text-align: left;
    }

    td {
      border-top: $seed-table-border-width solid $seed-table-border-color;
      padding: _get($seed-table-padding-sizes, md);
    }

    tbody {
      & + tbody {
        border-bottom: $seed-table-border-width solid $seed-table-border-color;
      }
    }
  }
}
