// Family mixin pack for Seed

// Mixins
@import "./mixins/_index";

.g {
.menu {
  $this: #{&};

  &__item {
    display: none;

    @include parent(".menu.is-active") {
      display: block;
    }
  }
}
}
