// Test :: Functions :: _get

@import "true";
@import "./scss/pack/seed-color-scheme/functions/get";

@include test-module("Function: _get") {

  @include test("should get value of flat map") {
    $map: (
      a: 1,
      b: 2
    );

    $test: _get($map, b);
    $expect: 2;

    @include assert-equal($test, $expect, "2");
  }

  @include test("should get value of nested map") {
    $map: (
      a: 1,
      b: (
        c: 2,
        d: 3
      )
    );

    $test: _get($map, b, c);
    $expect: 2;

    @include assert-equal($test, $expect, "2");
  }
}
