// Objects :: Col

[class*="#{$seed-grid-namespace-col}-"],
.#{$seed-grid-namespace-col} {
  box-sizing: border-box;
  min-height: 1px;
  padding-left: $seed-grid-gutter-offset;
  padding-right: $seed-grid-gutter-offset;
  position: relative;
}

@include generate-grid-columns;
