// Objects :: Row Flex

// Dependencies
@import "pack/seed-publish/_index";

@include export(seed-grid) {
  .#{$seed-grid-namespace-row-flex} {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-left: -($seed-grid-gutter-offset);
    margin-right: -($seed-grid-gutter-offset);

    // Modifiers
    &--sm {
      margin-left: -($seed-grid-gutter-offset-sm);
      margin-right: -($seed-grid-gutter-offset-sm);
      > [class*="#{$seed-grid-namespace-col}"] {
        padding-left: $seed-grid-gutter-offset-sm;
        padding-right: $seed-grid-gutter-offset-sm;
      }
    }
    &--xs {
      margin-left: -($seed-grid-gutter-offset-xs);
      margin-right: -($seed-grid-gutter-offset-xs);
      > [class*="#{$seed-grid-namespace-col}"] {
        padding-left: $seed-grid-gutter-offset-xs;
        padding-right: $seed-grid-gutter-offset-xs;
      }
    }
  }
}
