// Objects :: Row

// Dependencies
@import "pack/seed-publish/_index";

@include export(seed-grid) {
  .#{$seed-grid-namespace-row} {
    box-sizing: border-box;
    margin-left: -($seed-grid-gutter-offset);
    margin-right: -($seed-grid-gutter-offset);

    &::after {
      clear: both;
      content: "";
      display: table;
    }

    > [class*="#{$seed-grid-namespace-col}"] {
      float: left;
    }
  }
}
