// Modifiers :: sm

// Dependencies
@import "pack/seed-publish/_index";
// Configs
@import "../../switch-toggle/config";
@import "../../switch-handle/config";

@include export(seed-switch) {
  &--sm {
    .#{$seed-switch-toggle-namespace} {
      height: $seed-switch-toggle-height-sm;
      line-height: $seed-switch-toggle-height-sm;
      width: $seed-switch-toggle-width-sm;
    }

    .#{$seed-switch-handle-namespace} {
      height: $seed-switch-handle-size-sm;
      width: $seed-switch-handle-size-sm;
    }
  }
}
