// Base :: Config

// Config: Typo
$seed-base-margin-bottom: 16px !default;

// Config: Headings
$seed-base-heading-font-weight: 500 !default;
$seed-base-heading-line-height: 1.1 !default;
$seed-base-heading-margin-bottom: 8px !default;

// Config: Mark
$seed-base-mark-background-color: #fcf8e3 !default;
$seed-base-mark-padding: 0.2em !default;

// Config: Code
$seed-base-code-background-color: rgba(black, 0.08) !default;
$seed-base-code-border-radius: 3px !default;
$seed-base-code-color: #000 !default;
$seed-base-code-font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$seed-base-code-font-size: 85% !default;
$seed-base-code-padding: 0.16em 0.4em !default;

// Config: Pre
$seed-base-pre-color: #373a3c !default;
