// States :: States

// Dependencies
@import "pack/seed-control/mixins/control-disabled-styles";
@import "pack/seed-dash/_index";
@import "pack/seed-publish/_index";
@import "../../../mixins/disabled-styles";
@import "../config";

@include export(seed-button) {
  @each $state, $map in $seed-button-color-states {
    &.#{$state} {
      background-color: _get($map, background, default);
      border-color: _get($map, border, default);
      color: _get($map, text);

      &:hover {
        background-color: _get($map, background, hover);
        border-color: _get($map, border, hover);
      }

      &:active {
        background-color: _get($map, background, active);
        border-color: _get($map, border, active);
      }

      &:focus {
        border-color: _get($map, border, default);
        box-shadow: _get($map, box-shadow, focus);
      }

      @include disabled-styles {
        background-color: _get($map, background, default);
        border-color: _get($map, border, default);
      }
    }
  }
}
