// Inputs :: Textarea

// Dependencies
@import "pack/seed-control/config";
@import "pack/seed-publish/_index";
@import "../../config";

@include export(seed-input) {
  textarea.#{$seed-input-namespace} {
    height: auto;
    line-height: inherit;
    overflow: auto;
    padding: $seed-input-padding-textarea;
    vertical-align: top;
  }
}
