// _deep-extend
// Source
// https://www.github.com/helpscout/seed-dash
// Modified version of _deep-extend

$SEED_CONFIG__CACHE_DEFAULT: false !global;

@function _deep-extend($map, $maps.../*, !default */) {
  // !default is disabled by default
  $last: nth($maps, -1);
  $set_default: $last == "default";
  $is_map: type-of($map) == "map";
  $is_list: type-of($map) == "list";

  @if not $is_map and not $is_list {
    @error "_deep-extend: The argument must be a list or a map.";
  }

  $max: length($maps);
  @if $set_default {
    // Sass ternary operation
    // if(a, a, b);
    // a ? a : b;
    $max: if(length($maps) > 2, length($maps) - 1, 1);
  }

  // extend lists
  @if $is_list {
    @for $i from 1 through $max {
      $current: nth($maps, $i);

      @if type-of($current) != "list" {
        @error "_deep-extend: The second argument(s) must be a list.";
      }

      @if (not $set_default) or ($set_default and not map-has-key($map, $key)) {
        $map: join($map, $current);
      }
    }
    @return $map;
  }

  // deep-extend maps
  // Loop through all maps in $maps...
  @for $i from 1 through $max {
    // Store current map
    $current: nth($maps, $i);

    // If in deep mode, loop through all tuples in current map
    @each $key, $value in $current {
      // If value is a nested map and same key from map is a nested map as well
      @if type-of($value) == "map" and type-of(map-get($map, $key)) == "map" {
        // Recursive extend
        $nested_set_default: if($set_default, default, null);
        $nested_value: _deep-extend(map-get($map, $key), $value, $nested_set_default);
        $value: $nested_value;
      }
      // Merge current with map
      @if (not $set_default) or ($set_default and not map-has-key($map, $key)) {
        $map: map-merge($map, ($key: $value));
      }
    }
  }

  @return $map;
}
