// Test :: Mixins :: _color

@import "true";
@import "./scss/pack/seed-color-scheme/functions/color";
@import "./scss/pack/seed-color-scheme/mixins/color";

// Set the default color scheme
$seed-color-scheme: (
  primary: blue,
  secondary: red
);

@include test-module("Mixin: _color") {

  @include test("should correctly handle initial blank color scheme") {

    $seed-color-scheme: () !global;
    $map: (
      blue: blue
    );

    @include _color($map);

    $test: _color(blue);
    $expect: blue;

    @include assert-equal($test, $expect, "blue");
  }

  @include test("should correctly add a simple map") {

    $map: (
      blue: blue
    );

    @include _color($map);

    $test: _color(blue);
    $expect: blue;

    @include assert-equal($test, $expect, "blue");
  }

  @include test("should correctly add a deep map") {

    $map: (
      blue: (
        100: a,
        200: b,
        300: c
      )
    );

    @include _color($map);

    $test: _color(blue, 200);
    $expect: b;

    @include assert-equal($test, $expect, "b");
  }

  @include test("should correctly add multilple simple maps") {

    $map: (
      blue: blue
    );

    $map2: (
      red: red
    );

    @include _color($map, $map2);

    $test: _color(red);
    $expect: red;

    @include assert-equal($test, $expect, "red");
  }

  @include test("should correctly add multilple deep maps") {

    $map: (
      blue: (
        100: blue
      )
    );

    $map2: (
      red: (
        100: red
      )
    );

    @include _color($map, $map2);

    $test: _color(red);
    $expect: red;

    @include assert-equal($test, $expect, "red");
  }

  @include test("should correctly handle same value overrides for simple maps") {

    $map: (
      blue: blue,
      red: purple
    );

    $map2: (
      blue: green,
      red: red
    );

    @include _color($map, $map2);

    $test: _color(red);
    $expect: red;

    @include assert-equal($test, $expect, "red");
  }

  @include test("should correctly handle same value overrides for deep maps") {

    $map: (
      blue: (
        100: a,
        200: b,
        300: c
      )
    );

    $map2: (
      blue: (
        100: d,
        200: e
      ),
      red: (
        100: x,
        200: y,
        300: z
      )
    );

    @include _color($map, $map2);

    $test: _color(blue);
    $expect: d;

    @include assert-equal($test, $expect, "d");
  }
}
