// Link :: Config

// Namespaces
$seed-link-namespace: "c-link" !default;

// Config
$seed-link-include-a-selector: true !default;

// Colors
$seed-link-color: #3197d6 !default;
$seed-link-color-hover: #71BFF1 !default;
$seed-link-color-active: #71BFF1 !default;

// Font
$seed-link-font-family: inherit !default;
$seed-link-font-size: 1rem !default;

// Transition
$seed-link-transition: none !default;
