// Alert :: Config

// Dependencies
@import "pack/seed-spacing/functions/spacing";

// Namespace
$seed-alert-namespace: "c-alert" !default;
$seed-alert-error-namespace: "error" !default;
$seed-alert-info-namespace: "info" !default;
$seed-alert-success-namespace: "success" !default;
$seed-alert-warning-namespace: "warning" !default;

// Configs
$seed-alert-accent-width: 4px !default;
$seed-alert-padding: spacing(4) spacing(5) !default;
$seed-alert-margin-bottom: spacing(4) !default;


// Config for state prefix
// options: true || false
// if true, then alert states will compile with the defined state prefix
// Default is ".is-"
// Example:
// .is-success {
//   ...
// }
$seed-alert-enable-state-prefix: true !default;
$seed-alert-state-prefix: "is" !default;
