// Modifers :: Sizes

// Dependencies
@import "pack/seed-publish/_index";

@include export(seed-inline) {
  @each $class, $size in $seed-inline-sizes {
    $component: #{&};

    &--#{$class} {
      margin-bottom: -($size);
      margin-right: -($size);

      &:last-child {
        margin-bottom: -($size);
      }

      #{$component}__#{$seed-inline-item-namespace} {
        margin-bottom: $size;
        margin-right: $size;
      }
    }
  }
}
