// Seed inline :: Config

// Dependencies
@import "pack/seed-spacing/functions/spacing";

// Namespaces
$seed-inline-namespace: "o-inline" !default;
$seed-inline-item-namespace: "item" !default;

// Sizes
$seed-inline-sizes: (
  xs: spacing(1),
  sm: spacing(2),
  md: spacing(4),
  lg: spacing(6),
  xl: spacing(8)
) !default;
