// Generators :: Width Class

// Generates a single width utility class
@mixin generate-width-class($index: 1, $modifier: false, $breakpoint: xs) {
  $_class: $seed-width-namespace;
  $_util-classname: #{$_class}-#{$index};
  $_columns: $seed-width-columns;
  $_width: ceil(($index / $_columns) * $seed-width-container-max) !important;

  // Fluid widths
  @if $modifier == "fluid" {
    $_width: percentage($index / $_columns) !important;
  }

  @if $modifier {
    $_util-classname: #{$_util-classname}-#{$modifier};
  }

  @if $breakpoint != "xs" {
    $_util-classname: #{$_util-classname}#{$seed-breakpoints-at-namespace}#{$breakpoint};
  }

  .#{$_util-classname} {
    @if $modifier == "max" {
      max-width: $_width;
    }
    @else if $modifier == "min" {
      min-width: $_width;
    }
    @else {
      width: $_width;
    }
  }
}
