// Help Scout Theme :: Config

// Dependencies
@import "pack/seed-color-scheme-helpscout/_index";
@import "pack/seed-dash/_index";

$seed-helpscout-theme-background-color-namespace: "t-bg" !default;
$seed-helpscout-theme-text-color-namespace: "t-tx" !default;

// Config
// Adds !important to classes by default
$seed-helpscout-theme-enable-important: true !default;

// Theme colors
// Constructing the color palette from seed-color-scheme-helpscout
$seed-helpscout-theme-colors: (
  // Base colors
  black: _get($seed-color-scheme-helpscout, black),
  white: _get($seed-color-scheme-helpscout, white),
  // Primary colors
  blue: _get($seed-color-scheme-helpscout, blue),
  charcoal: _get($seed-color-scheme-helpscout, charcoal),
  ash: _get($seed-color-scheme-helpscout, ash),
  // Secondary colors
  gold: _get($seed-color-scheme-helpscout, gold),
  green: _get($seed-color-scheme-helpscout, green),
  pink: _get($seed-color-scheme-helpscout, pink),
  lavender: _get($seed-color-scheme-helpscout, lavender),
  indigo: _get($seed-color-scheme-helpscout, indigo),
  whaletail: _get($seed-color-scheme-helpscout, whaletail),
) !default;
