// Components :: Modal

// Dependencies
@import "pack/seed-publish/_index";
@import "pack/seed-this/_index";
@import "../config";

@include export(seed-modal) {
  .#{$seed-modal-namespace} {
    $this: this();
    -webkit-overflow-scrolling: touch;
    bottom: 0;
    box-sizing: border-box;
    display: none;
    left: 0;
    outline: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $seed-modal-z-index;

    // States
    @at-root .modal-open {
      // This is applied to the body by bootstrap.js
      overflow: hidden;

      #{$this} {
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
}
