// Components :: Dot Nav Link

// Dependencies
@import "pack/seed-publish/_index";
@import "../config";

@include export(seed-dot-nav) {
  .#{$seed-dot-nav-link-namespace} {
    // background-color: $seed-dot-nav-link-color;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
    text-indent: 100%;
    text-decoration: none;
    // transition: $seed-dot-nav-link-transition;
    white-space: nowrap;

    // Dot
    &:before {
      background-color: $seed-dot-nav-dot-color;
      border-radius: 50%;
      box-sizing: border-box;
      content: "";
      height: $seed-dot-nav-dot-size;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: $seed-dot-nav-dot-transform;
      width: $seed-dot-nav-dot-size;
    }

    &:hover,
    &:focus {
      outline: $seed-dot-nav-link-focus-outline;
      text-decoration: none;
      &:before {
        // Modify's dot color
        background-color: $seed-dot-nav-dot-color-hover;
      }
    }
  }
}
