// Visibility :: Config

// Namespaces
$seed-visibility-invisible-namespace: u-invisible !default;
$seed-visibility-visible-namespace: u-visible !default;
$seed-visibility-screen-reader-namespace: u-sr-only !default;
