// HR :: Config

// Namespaces
$seed-hr-namespace: "c-hr" !default;

// Config
$seed-hr-include-hr-selector: true !default;

// The above configuration determines this private variable
$__seed-hr-class: ".#{$seed-hr-namespace}";
// Include the image selector (Default)
@if $seed-hr-include-hr-selector == true {
  $__seed-hr-class: ".#{$seed-hr-namespace}, hr";
}

// Styles
$seed-hr-border-color: #eee !default;
$seed-hr-border-size: 1px !default;
$seed-hr-border-style: solid !default;
$seed-hr-margin: 20px 0 !default;
