// Thumbnail :: Config

// Namespaces
$seed-thumbnail-namespace: "c-thumbnail" !default;
$seed-thumbnail-image-namespace: "#{$seed-thumbnail-namespace}__image" !default;

// Config
$seed-thumbnail-include-img-selector: true !default;

// The above configuration determines this private variable
$__seed-thumbnail-image-class: ".#{$seed-thumbnail-image-namespace}";
// Include the image selector (Default)
@if $seed-thumbnail-include-img-selector == true {
  $__seed-thumbnail-image-class: ".#{$seed-thumbnail-image-namespace}, .#{$seed-thumbnail-namespace} > img";
}

// Borders
$seed-thumbnail-border-radius: 0 !default;

// Colors
$seed-thumbnail-background-color: #eee !default;

// Alignment
$seed-thumbnail-alignments: (
  top: (
    top: 0,
    bottom: inherit
  ),
  center: (
    top: -100%,
    bottom: -100%,
  ),
  bottom: (
    top: inherit,
    bottom: 0
  )
) !default;

// Sizes
// Pass in ratios for w:h
$seed-thumbnail-sizes: (
  wide: (
    width: 16,
    height: 9
  ),
  sd: (
    width: 4,
    height: 3
  ),
  square: (
    width: 1,
    height: 1
  )
) !default;
