// States :: Config

// Dependencies
@import "pack/seed-color-scheme/_index";
@import "pack/seed-color-scheme-helpscout/_index";

// Namespaces
$seed-states-error-namespace: "error" !default;
$seed-states-info-namespace: "info" !default;
$seed-states-success-namespace: "success" !default;
$seed-states-warning-namespace: "warning" !default;

// Configs
$seed-states-colors: (
  #{$seed-states-error-namespace}: (
    background-color: _color(pink, 100),
    border-color: _color(pink, 500),
    color: _color(pink, 900)
  ),
  #{$seed-states-info-namespace}: (
    background-color: _color(blue, 50),
    border-color: _color(blue, 300),
    color: _color(blue, 800)
  ),
  #{$seed-states-success-namespace}: (
    background-color: _color(green, 50),
    border-color: _color(green, 300),
    color: _color(green, 800)
  ),
  #{$seed-states-warning-namespace}: (
    background-color: _color(gold, 50),
    border-color: _color(gold, 300),
    color: _color(gold, 800)
  ),
) !default;
