// Border :: Config

// Namespaces
$seed-border-namespace: "t-bdr" !default;

// Defaults
$seed-border-color: #eee !default;
$seed-border-size: 1px !default;
$seed-border-style: solid !default;

// Directions
$seed-border-directions: (
  none: false,
  all: false,
  top: "t",
  right: "r",
  bottom: "b",
  left: "l"
) !default;

// Base variable
$seed-border: $seed-border-size $seed-border-style $seed-border-color !default;
