// Components :: Nav Item

// Dependencies
@import "pack/seed-publish/_index";
@import "../config";

@include export(seed-nav) {
  .#{$seed-nav-item-namespace} {
    box-sizing: border-box;

    // Modifiers: Alignment
    $mod: "-"; // Modifier prefix
    &#{$mod} {
      @include breakpoint-prop-map($seed-nav-item-alignment, (m)) {
        $margin: prop(m);
        #{$margin}: auto;
      }
    }
  }
}
