// Generators :: Spacing :: Spacing

// Generates the spacing utility classes
// Example:
// .u-mrg-b-lg
@mixin generate-spacing($property: margin, $auto: false) {
  $class: $seed-spacing-margin-namespace;

  @if ($property == margin) {
    $class: $seed-spacing-margin-namespace;
  }
  @if ($property == padding) {
    $class: $seed-spacing-padding-namespace;
  }

  @each $dir-prop, $dir-class in $seed-spacing-directions {
    $_util-classname: #{$class}-#{$dir-class};
    $_property: #{$property}-#{$dir-prop};

    @if $dir-prop != "none" {
      .#{$_util-classname} {
        @include breakpoint-prop-map($seed-spacing-sizes, (size)) {
          @if ($dir-class == "h") {
            #{$property}-left: prop(size) !important;
            #{$property}-right: prop(size) !important;
          }
          @elseif ($dir-class == "v") {
            #{$property}-bottom: prop(size) !important;
            #{$property}-top: prop(size) !important;
          }
          @else {
            #{$_property}: prop(size) !important;
          }
        }
      }
    }
    @else {
      .#{$_util-classname} {
        @include breakpoint-all {
          @if ($dir-class == "h") {
            #{$property}-left: 0 !important;
            #{$property}-right: 0 !important;
          }
          @elseif ($dir-class == "v") {
            #{$property}-bottom: 0 !important;
            #{$property}-top: 0 !important;
          }
          @else {
            #{$property}: 0 !important;
          }
        }
      }
    }
  }
}
