// Generators :: Spacing :: Margin Auto

// Generates the spacing auto utility classes
// Example:
// .u-mrg-auto@lg
@mixin generate-spacing-auto($property: margin) {
  // Create new map from directions for auto
  $directions: ();
  @each $key, $prop in $seed-spacing-directions {
    $dir: ( #{$prop}-auto: $key );
    $directions: map_merge($directions, $dir);
  }

  // Output "all" auto clases
  .#{$seed-spacing-margin-namespace}-auto {
    @include breakpoint-all {
      margin: auto;
    }
  }

  // Output directional auto classes
  .#{$seed-spacing-margin-namespace} {
    @include breakpoint-prop-map($directions, (prop)) {
      $prop: prop(prop);
      $all: $prop == "all";
      $none: $prop == "none";

      @if (not $all) {
        @if (not $none) {
          @if ($prop == "hor") {
            margin-left: auto;
            margin-right: auto;
          }
          @elseif ($prop == "vert") {
            margin-bottom: auto;
            margin-top: auto;
          }
          @else {
            margin-#{$prop}: auto;
          }
        }
      }
    }
  }

}
